<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="treeview">
          <a href="#">
            <i class="fa fa-phone-square"></i>
            <span>CRM</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Lead"><i class="fa fa-circle-o"></i>Lead</a></li>
            <li><a href="#List/Customer"><i class="fa fa-circle-o"></i>Customer</a></li>
            <li><a href="#List/Opportunity"><i class="fa fa-circle-o"></i>Opportunity</a></li>
            <li><a href="#List/Contact"><i class="fa fa-circle-o"></i>Contact</a></li>
            <li><a href="#List/Address"><i class="fa fa-circle-o"></i>Address</a></li>
           <li><a href="#List/Interaction"><i class="fa fa-circle-o"></i>Interaction</a></li> 
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-building"></i>
            <span>REPORTS</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#query-report/Lead Details"><i class="fa fa-circle-o"></i>Lead Details</a></li>
            <li><a href="#sales-funnel"><i class="fa fa-circle-o"></i>Sales Funnel</a></li>
            <li><a href="#query-report/Prospects Engaged But Not Converted Details"><i class="fa fa-circle-o"></i>Prospects Engaged </a></li>
            <li><a href="#query-report/Minutes to First Response for Opportunity Details"><i class="fa fa-circle-o"></i>Minutes to First Response </a></li>
            <li><a href="#query-report/Lead Owner Efficiency Details"><i class="fa fa-circle-o"></i>Lead Owner Efficiency</a></li>
            <li><a href="#query-report/Interaction Details"><i class="fa fa-circle-o"></i>Interaction Details</a></li>
            <li><a href="#query-report/Lead Dashboard"><i class="fa fa-circle-o"></i>Lead Dashboard</a></li>
          </ul>
        </li> 
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cubes"></i>
            <span>Communication</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Event/Calendar"><i class="fa fa-circle-o"></i>Calendar</a></li>
            <li><a href="#List/Note/List"><i class="fa fa-circle-o"></i>Note</a></li>
            <li><a href="#chat"><i class="fa fa-circle-o"></i>Chat</a></li>
            <li><a href="#List/ToDo/List"><i class="fa fa-circle-o"></i>ToDo</a></li>
            <li><a href="#List/Interaction/Calendar/Interaction Calendar"><i class="fa fa-circle-o"></i>Interaction Calendar</a></li>
          </ul>
        </li>
       <li class="treeview">
          <a href="#">
            <i class="fa fa-file-powerpoint-o"></i>
            <span>Setup</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Campaign/List"><i class="fa fa-circle-o"></i>Campaign</a></li>
            <li><a href="#Tree/Customer Group"><i class="fa fa-circle-o"></i>Customer Group</a></li>
            <li><a href="#Tree/Territory"><i class="fa fa-circle-o"></i>Territory</a></li>
            <li><a href="#List/Interaction Type"><i class="fa fa-circle-o"></i>Interaction Type</a></li>
            <li><a href="#List/Interaction Result"><i class="fa fa-circle-o"></i>Interaction Result</a></li>
          </ul>
        </li>
        <li>
          <a href="#List/User/List">
            <i class="fa fa-cog"></i> <span>User</span>
          </a>
        </li>
		</ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <div class="overlay"><div>